@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("/fonts/Rubik-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/fonts/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/Rubik-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("/fonts/Rubik-Bold.ttf") format("truetype");
}

:root {
  --layout-width: 1160px;
  --radius: 8px;

  --color-primary-light-extra: #ffffff;
  --color-primary: #007bff;
  --color-primary-dark: #0056b3;

  --color-accent: #4ccfe0;
  --color-accent-dark: #007bff;
  --color-accent-light: #4ccfe0;

  --color-success-light: #ffffff;
  --color-success: #28a745;

  --color-error-light: #ff8293;
  --color-error: #d40019;
  --color-error-dark: #8c1725;

  --color-white-transparent: rgba(255, 255, 255, 50%);
  --color-gray-transparent: rgba(150, 150, 150, 50%);
  --color-black-transparent: rgba(0, 0, 0, 50%);
  --color-transparent: rgba(0, 0, 0, 0);

  --color-white: #ffffff;
  --color-gray-light-extra: #f7f7f7;
  --color-gray-light: #eee;
  --color-gray: #ddd;
  --color-gray-dark: #6c757d;
  --color-gray-dark-extra: #6c757d;
  --color-black: #000;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Rubik";
  font-size: 16px;
}

body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-gray-dark-extra);
  background-color: var(--color-gray-light-extra);
}

a {
  color: var(--color-primary);
}

a:hover {
  color: var(--color-primary-dark);
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 8px;
  line-height: 1.2;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  margin: 0;
}

p + p {
  margin: 8px 0;
}

ul {
  padding-left: 20px;
  margin: 0;
}

img {
  display: flex;
  max-width: 100%;
  height: auto;
}

button,
input,
textarea,
select {
  font-family: inherit;
}

.container {
  width: 100%;
  max-width: var(--layout-width);
  padding: 0 16px;
  margin: 0 auto;
}
