@use "./fonts";
@use "mhz-ui/dist/colors";
@use "mhz-ui/dist/base";

:root {
  --layout-width: 1160px;
  --radius: 8px;

  --color-primary: #007bff;
  --color-primary-dark: #0056b3;
  --color-primary-light: #007bff;
  --color-primary-light-extra: #ffffff;

  --color-accent: #4ccfe0;
  --color-accent-dark: #007bff;
  --color-accent-light: #4ccfe0;

  --color-success: #28a745;
  --color-success-light: #ffffff;
  --color-success-dark: #28a745;

  --color-white: #ffffff;
  --color-gray-dark: #6c757d;
  --color-gray-dark-extra: #6c757d;
}

html {
  font-family: "Rubik";
  font-size: 16px;
}

body {
  color: var(--color-gray-dark-extra);
  background-color: var(--color-gray-light-extra);
}

button,
input,
textarea,
select {
  font-family: inherit;
}

h1,
h2,
h3 {
  margin-bottom: 8px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p + p {
  margin: 8px 0;
}

section + section {
  margin: 0;
}

.container {
  width: 100%;
  max-width: var(--layout-width);
  padding: 0 16px;
  margin: 0 auto;
}
